/* SellThird.css */

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.sell-third-container h2 {
  color: #333;
  font-size: 22px;
  margin-bottom: 20px;
}

.sell-third-container p {
  font-size: 18px;
  color: #555;
  margin-bottom: 15px;
}

.notification-options {
  display: flex;
  justify-content: center; /* 화면 중앙으로 정렬 */
  gap: 20px;
  margin-bottom: 30px;
}

.notification-options label {
  font-size: 16px;
  color: #555;
  cursor: pointer;
}

.notification-options input[type="radio"] {
  margin-right: 8px;
}

.complete-p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.complete-p:hover {
  color: var(--main);
}

.complete-p ::active {
  transform: scale(0.9);
}
