/* 글로벌 스타일 */
html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Apple SD Gothic Neo";
}

:root {
  --main: #1fcbd5;
  --grey1: #fbfbfb;
  --grey2: #f2f2f2;
  --grey3: #e2e2e2;
  --grey4: #9f9f9f;
  --grey5: #333;
  --white: #ffffff;
  --red: #ff3b3b;
  --blue: #186ff2;
}
